name: "release"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  warmup:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        project: [ 'motoko', 'ic', 'sdk' ]
        channel: [ '21.11', 'unstable' ]
        os: [ ubuntu-latest, macos-latest ]
        include:
          - os: ubuntu-latest
            prefix: nixos
          - os: macos-latest
            prefix: nixpkgs
          - channel: '21.11'
            channel-darwin: '21.11-darwin'
          - channel: 'unstable'
            channel-darwin: 'unstable'

    steps:
    - uses: actions/checkout@v2.3.4

    - uses: cachix/install-nix-action@v17
      with:
        nix_path: nixpkgs=channel:${{ matrix.prefix }}-${{ matrix.channel }}
      if: contains(matrix.os, 'ubuntu')

    - uses: cachix/install-nix-action@v17
      with:
        nix_path: nixpkgs=channel:${{ matrix.prefix }}-${{ matrix.channel-darwin }}
      if: contains(matrix.os, 'macos')

    - name: nix cache warm up
      uses: cachix/cachix-action@v10
      with:
        name: ninegua
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix-build -A ${{ matrix.project }}.shell
  
  build:
    needs: warmup
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        project: [ 'motoko', 'ic', 'sdk' ]
        channel: [ '21.11', 'unstable' ]
        os: [ ubuntu-latest, macos-latest ]
        include:
          - os: ubuntu-latest
            prefix: nixos
          - os: macos-latest
            prefix: nixpkgs
          - channel: '21.11'
            channel-darwin: '21.11-darwin'
          - channel: 'unstable'
            channel-darwin: 'unstable'

    steps:
    - name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:
        root-reserve-mb: 512
        swap-size-mb: 1024
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'
      if: contains(matrix.os, 'ubuntu')

    - uses: actions/checkout@v2.3.4

    - uses: cachix/install-nix-action@v17
      with:
        nix_path: nixpkgs=channel:${{ matrix.prefix }}-${{ matrix.channel }}
      if: contains(matrix.os, 'ubuntu')

    - uses: cachix/install-nix-action@v17
      with:
        nix_path: nixpkgs=channel:${{ matrix.prefix }}-${{ matrix.channel-darwin }}
      if: contains(matrix.os, 'macos')

    - name: nix build
      uses: cachix/cachix-action@v10
      with:
        name: ninegua
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix-build -A ${{ matrix.project }}
