name: "release"

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        channel: [ '25.05' ]
        os: [ ubuntu-latest, macos-14 ]
        include:
          - os: ubuntu-latest
            name: linux
            prefix: nixos
          - os: macos-14
            name: darwin
            prefix: nixpkgs
          - channel: '25.05'
            channel-darwin: '25.05-darwin'

    steps:
    - uses: actions/checkout@v3

    - uses: cachix/install-nix-action@v23
      with:
        nix_path: nixpkgs=channel:${{ matrix.prefix }}-${{ matrix.channel }}
      if: contains(matrix.os, 'ubuntu')

    - uses: cachix/install-nix-action@v23
      with:
        nix_path: nixpkgs=channel:${{ matrix.prefix }}-${{ matrix.channel-darwin }}
      if: contains(matrix.os, 'macos')

    - uses: cachix/cachix-action@v12
      with:
        name: ninegua
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix-build --pure release.nix

    - run: nix-env -f '<nixpkgs>' -iA gnutar gnused

    - name: Pack dfx-env
      run: |
        VERSION=$(echo ${{ github.ref }} | cut -d/ -f3) make dfx-env.tar.gz
      if: contains(matrix.os, 'ubuntu')

    - name: Pack binaries
      run: |
        VERSION=$(echo ${{ github.ref }} | cut -d/ -f3) make binaries

    - name: Pack canisters
      run: |
        VERSION=$(echo ${{ github.ref }} | cut -d/ -f3) make canisters
      if: contains(matrix.os, 'ubuntu')

    - name: Pack extensions
      run: |
        VERSION=$(echo ${{ github.ref }} | cut -d/ -f3) make extensions
      if: contains(matrix.os, 'ubuntu')

    - name: Upload dfx-env
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        file: dfx-env.tar.gz
        file_glob: true
      if: contains(matrix.os, 'ubuntu')

    - name: Upload ic binaries
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        file: ic-binaries-*.tar.gz
        file_glob: true

    - name: Upload ic canisters
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        file: ic-canisters-*.tar.gz
        file_glob: true
      if: contains(matrix.os, 'ubuntu')

    - name: Upload dfx extensions
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref }}
        file: dfx-extensions-*.tar.gz
        file_glob: true
      if: contains(matrix.os, 'ubuntu')
